
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-paper text-dark-slate font-sans bg-pattern;
}

/* Custom scrollbar for aesthetic */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-paper;
}
::-webkit-scrollbar-thumb {
  @apply bg-asan-green/50 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-asan-green;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
